:root {
  --font-family: 'Inter', sans-serif;
  --color-blue-50: #EBF8FF;
  --color-blue-500: #3182CE;
  --color-gray-200: #E2E8F0;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: var(--font-family);
}

.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.title {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
